  .containerPhoto {
    position: relative;
    margin-top: 10px;
  }
  
  .mySlides {
    text-align: center;
    display: flex; 
  }

  .mySlides img{
    width:70%; 
    height:500px; 
    margin: auto;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev1,
  .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -120px;
    color: rgb(177, 39, 39);
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 
  /* On hover, add a black background color with a little bit see-through */
  .prev1:hover,
  .next1:hover {
    background-color: rgba(222, 237, 122, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    margin-left: 15%;
    font-weight: bold;
    background-color: rgb(36, 21, 83);
    color: yellow;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 100;
  }
  
  .caption-container {
    text-align: center;
    background-color: #3f63d1;
    padding: 5px;
    font-size: 20px;
    color: white;
  }

  .caption-container p{
    padding: 5px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
    
  .cursor{
    display: flex;
    flex: 0 0 18%;
    opacity: 0.6;
    border-radius: 0px;
    border: solid 3px rgb(167, 129, 30);
    box-sizing: border-box;
    /* margin: 0 2px; */
    margin-top: 10px;
    object-fit: cover;
   }
  
  .active,
  .cursor:hover {
    opacity: 1;
  }