.news-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    margin: 0 20px;
}

.content {
    flex-direction: column;
    width: 75%;
}

.news-caption {
    margin-bottom: 5px;
}

.news-item {
    flex-direction: column;
    margin-bottom: 20px;
}

.news-block {
    /* display: flex;
    flex-direction: row; */
}

.publication-img {
    margin-right: 10px;
    max-height: 200px;
    max-width: 267px;
    /* width: auto; */
    /* height: auto; */
    float: left;
}

.read-next {
    margin-top: 5px;
}

.paragraph {
    width: 50%;
}

.side-bar {
    position: fixed;
    margin-left: 15px;
    height: 100vh;
    left: 77%;
    transition: top 0.3s;
}

ul {
    padding: 20px;
    padding-top: 0px;
    margin: 0px;
}

li {
    margin: 5px;
}

a {
    color: dodgerblue;
}