*{
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	font-family: 'Courier New', Courier, monospace;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}

#adminPanel
{
}
#adminPanelTabContainer{

}
#adminPanelTabMenu{

}
#dropdownList{
	border-left: 2px solid steelblue;
	border-right: 2px solid steelblue;
	border-radius: 20px;
	max-width: 30vw;
}
.dropdownItem{
	
}
.dropdownCaption
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	max-width: 30vw;
	border: 2px solid steelblue;
	border-radius: 20px;
	background-color: #c90ae3;
	color: white;
	padding: 10px 0px;
	margin: 10px;
}
.dropdownCaptionIcon
{
	width: 7vh;
    aspect-ratio: 1 / 1;
}
.dropdownCaptionName
{
	font-size: 5vh;
    font-family: sans-serif;
}
.dropdownItem
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: #9feff5;
	color: black;
	padding: 10px 0px;
	margin: 10px;
}
.dropdownItemIcon{
	width: 7vh;
	aspect-ratio: 1 / 1;
}
.dropdownItemName{
	font-size: 5vh;
	font-family: sans-serif;
}