*{
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	font-family: 'Courier New', Courier, monospace;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}

#adminPanel
{
}
#adminPanelTabContainer{

}
#adminPanelTabMenu{

}
#dropdownList {
    /* border-left: 2px solid steelblue; */
    /* border-right: 2px solid steelblue; */
    border: 2px solid lightsteelblue;
	border-radius: 0 0 20px 20px;
    max-width: 30vw;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.dropdownItem{
	
}
.dropdownCaption {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    max-width: 30vw;
    border: 2px solid steelblue;
	border-radius: 20px 20px 0 0;
    background-color: #c90ae3;
    color: white;
    padding: 10px 0px;
    margin: 10px 10px 0 10px;
}
.dropdownCaptionIcon
{
	width: 7vh;
    aspect-ratio: 1 / 1;
	margin-left: 1vh;
}
.dropdownCaptionName
{
	font-size: 5vh;
    font-family: sans-serif;
	margin-left: 2vh;
}
.dropdownItem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #9feff5;
    color: black;
    padding: 10px 0px;
    /* margin: 10px 0px; */
    padding: 0 10px;
    border-bottom: 1px solid black;
}
.dropdownItem:last-child {
    border-radius: 0 0 20px 20px;
    border-bottom: none;
}
/* .dropdownItem:first-child {
    border-radius: 20px 20px 0 0;
} */
.dropdownItemIcon{
	width: 7vh;
	aspect-ratio: 1 / 1;
}
.dropdownItemName {
    font-size: 3.5vh;
    font-family: sans-serif;
    margin: 1vh;
}