/* 
#documentList{}

.documentList-mainCaption{}

.documentList-caption1{}

.documentList-caption2{}

.documentList-dateAuthorContainer{}
.documentList-Date{}
.documentList-Author{}

.documentList-imageContainer{}
.documentList-image{}

.documentList-listContainer{}
.documentList-list{}
.documentList-listItem{}
.documentList-subList{}
.documentList-subListItem{}

.documentList-paragraph{
}
*/

#documentList{
	display: flex;
	padding: 10px 40px 20px 40px;
	flex-direction: column;
}

.documentList-mainCaption
{
	display: flex;
	font-family: Georgia, 'Times New Roman', Times, serif
}

.documentList-caption1
{
	display: flex;
	margin: 25px 0 0 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.documentList-caption2
{
	display: flex;
	margin: 24px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

.documentList-dateAuthorContainer
{
	display: flex;
	flex-direction: column;
    font-style: italic;
}
.documentList-Date
{
	font-size: 12px;
}
.documentList-Author
{
	font-size: 16px;
}

.documentList-imageContainer
{
	display: flex;
	object-fit: contain;
	margin: 20px 0 0 0;
	justify-content: center;
}
.documentList-image {
    border-radius: clamp(10px, 3vmin, 50px);
    /* min-height: 400px; */
    width: 90vw;
    aspect-ratio: 2.7 / 1;
    /* max-height: 70vmin;*/
}

.documentList-listContainer
{
	display: flex;
}
.documentList-list{
	margin: 20px 0 0 0;
}
.documentList-listItem{
	list-style-image: url(../../images/ArticleMarkerDarkBlue20px.png);
}
.documentList-subList{}
.documentList-subListItem{
	list-style-image: url(../../images/ArticleMarkerGreen20px.png);	
}

.documentList-paragraph{
	display: flex;
	margin: 20px 0 0 0;
}
@media (pointer: coarse) and (orientation: portrait) {

	.documentList-mainCaption{
		font-size: 5dvh;
	}
	.documentList-caption1
	{
		font-size: 4.5dvh;
	}
	.documentList-caption2{
		font-size: 4dvh;
	}
	.documentList-paragraph{
		font-size: 3dvh;
	}
	.documentList-Date
	{
		font-size: 1.5dvh;
	}
	.documentList-Author
	{
		font-size: 1.75dvh;
	}
	.documentList-list{
		font-size: 2.5dvh;
	}
	.documentList-listItem{
		list-style-image: url(../../images/ArticleMarkerDarkBlue40px.png);
		padding-left: 15px;
	}
	.documentList-subListItem{
		list-style-image: url(../../images/ArticleMarkerGreen40px.png);	
		padding-left: 15px;
	}
}
@media (pointer: coarse) and (orientation: landscape) {

	.documentList-mainCaption{
		font-size: 3.75dvw;
	}
	.documentList-caption1
	{
		font-size: 3.375dvw;
	}
	.documentList-caption2{
		font-size: 3dvw;
	}
	.documentList-paragraph{
		font-size: 1.875dvw;
	}
	.documentList-Date
	{
		font-size: 1.125dvw;
	}
	.documentList-Author
	{
		font-size: 1.3125dvw;
	}
	.documentList-list{
		font-size: 1.875dvw;
	}
	.documentList-listItem{
		list-style-image: url(../../images/ArticleMarkerDarkBlue20px.png);
		padding-left: 7.5px;
	}
	.documentList-subListItem{
		list-style-image: url(../../images/ArticleMarkerGreen20px.png);	
		padding-left: 7.5px;
	}
}