.BackToTopButton{
	border-radius: 3px;
    background-color: #000;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2710px%27 height=%2710px%27%3E %3Cpolygon fill=%27%23FFC028%27 stroke=%27none%27 points=%278.589,6.945 5,3.22 1.413,6.945 1.052,6.598 5,2.499 8.948,6.598%27 /%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 19px;
    overflow: hidden;
    position: fixed;
    cursor: pointer;
    white-space: nowrap;
    text-indent: 100%;
    /* width: 30px;
    height: 30px;
    right: 20px;
    bottom: 60px; */
    width: 5vmax;
    aspect-ratio: 1 / 1;
    right: 3.5vmax;
    bottom: 7vmax;
    z-index: 3;
    opacity: 1;
    transition: background-color .3s,opacity .5s,visibility .5s;
}
@media (pointer: coarse) and (orientation: portrait)
{

}
@media (pointer: coarse) and (orientation: landscape)
{

}
.BackToTopButton:hover{
   transform: scale(1.1);
   background-color: blueviolet;
}
