
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	background-image: linear-gradient(to left, rgb(255, 250, 212),rgb(252, 208, 150));
}

@media (not (pointer: coarse)){
  .container {
    padding: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
  
  
  input[type=text], input[type=password], input[type=email] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .inv-span{
    color: red;
    margin: 20px;
  }
  
  .registerbtn {
    background-color: rgba(74, 77, 255, 0.9);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
  }
  .signin {
    background-color: #f1f1f1;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media (pointer: coarse) and (orientation: portrait)
{
  .container {
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto; 
    justify-content: center;
    
  }
  
  .registration-item {
    width: 95%;
    flex-direction: column;
  }
  
  input[type=text], input[type=password], input[type=email] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .inv-span{
    color: red;
    margin: 20px;
  }
  
  .registerbtn {
    background-color: rgba(74, 77, 255, 0.9);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 88%;
    opacity: 0.9;
    border-radius: 10px;
  }
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }


}

@media (pointer: coarse) and (orientation: landscape)
{
  .container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto; 
    justify-content: center;
    align-items: center;
  }
  
  .registration-item {
    width: 85%;
    flex-direction: column;
    
  }
  
  input[type=text], input[type=password], input[type=email] {
    width: 96%;
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .inv-span{
    color: red;
    margin: 20px;
  }
  
  .registerbtn {
    background-color: rgba(74, 77, 255, 0.9);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 88%;
    opacity: 0.9;
    border-radius: 10px;
  }
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
}

 .registerbtn:hover {
   opacity: 1;
 }
 
 
 a {
   color: dodgerblue;
 }
 

 
