*{
	font-family: sans-serif;
	min-width: 0;
	min-height: 0;
}
@font-face {
	font-family: "MyCustomStroke";
	src: url("../../fonts/IsamiRiDisplayBold.ttf");
}
#mainPageFooter3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
}
#mainPageFooter3Slogan{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: clamp(2.5rem,5vmax,7vmin);
	color: red;
	font-family: "MyCustomStroke";
	background-color: #f8f8f8;
	border-radius: 20px 20px 0 0;
	text-wrap: nowrap;
}
#mainPageFooter3SubscriptionForm{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../../images/BlueHills.jpg");
	/* object-fit: contain; */
	background-size:cover;
	border-radius:  0 0 20px 20px;
}
#subscForm{
	display: flex;
	margin: 20px 0;
	flex-direction: column;
	align-items: center;
}
#subscForm > input {
    margin: 15px 0 0 0;
    border-radius: 10px;
    width: 150%;
    line-height: 1.75rem;
    /* font-size: 1.75rem; */
    font-size: clamp(2rem,3vmax,5vmin);
    max-width: 80vw;
    padding: 1vmin;
}
#subscForm > input[type="submit"] {
    color: black;
    background-color: yellow;
    width: 150%;
    height: min-content;
}
#subscFormCaption{
	color: rgb(85, 0, 124);
	font-weight: 700;
	margin: 20px 8vmin;
	font-size: clamp(2rem,3vmax,5vmin);
}
@media (pointer: coarse) and (orientation: portrait)
{
	#subscForm > input {
		margin: 15px 0 0 0;
		border-radius: 10px;
		width: 150%;
		line-height: 1.75rem;
		/* font-size: 1.75rem; */
		font-size: clamp(2rem,3vmax,12vmin);
		max-width: 80vw;
		height: 4vmax;
		padding: 1vmin;
	}
	#subscForm > input[type="submit"] {
		color: black;
		background-color: yellow;
		width: 150%;
		font-size: clamp(2rem,2.5vmax,7vmin);
		height: 4.5vmax;
	}
	#mainPageFooter3Slogan {
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-size: clamp(2.5rem,5vmax,7vmin);
		color: red;
		font-family: "MyCustomStroke";
		background-color: #f8f8f8;
		border-radius: 20px 20px 0 0;
		/* text-align: center; */
		text-wrap: nowrap;
	}
}
@media (pointer: coarse) and (orientation: landscape)
{
	#mainPageFooter3Slogan{
		display: flex;
		flex-direction: row;
		justify-content:stretch;
		font-size: clamp(2.5rem,3.5vmax,7vmin);
		color: red;
		font-family: "MyCustomStroke";
		background-color: #f8f8f8;
		border-radius: 20px 20px 0 0;
	}
}