*{
	font-family: sans-serif;
	min-width: 0;
	min-height: 0;
	/* overflow-x: hidden; */
}
a{
	text-decoration: none;
	transition: 1s;
}
.touristReviewStarsDateRow{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.flex-box-column{
	display: flex;
	flex-direction: column;
}
#content-block-container{
	display: flex;
	flex-direction: row;
	max-height: 900px;
	/* overflow-y: hidden; */
	margin-top: 10px;
	padding: 0 5px;
}
#news-block-container{
	display: flex;
	flex-direction: column;
	/* border: 2px solid red; */
	flex: 0.5 1 300px;
	margin-right: 15px;
}
#touristsReviews-block-container{
	display: flex;
	flex-direction: column;
	flex: 0.5 1 300px;
	padding: 0 0.3rem;
	margin-left: 15px;
	/* border: 2px solid green; */
}
.touristReview{
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 0 0.3rem;
}
#toursTable-block-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    flex: 1 1 auto;
}
.news{
	display: flex;
	flex-direction: column;
	text-wrap:pretty;
	font-weight: 600;
}
.news a:hover {
    color: hotpink;
    transition: 1s;
}
#news-block-list{
	padding: 0px 5px;
}
#news-block-caption{
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#reviews-block-caption{
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#toursTableBlockList{
	border-spacing:0;
	border: 2px solid rgb(74, 77, 255);
	border-radius: 20px;
}
#toursTableBlockList tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}
.ToursTableBlockTableRow > td{
	/* border: 1px solid rgb(74, 77, 255); */
}
.ToursTableBlockTableRow{

}
.TableRowDatesCell {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* font-size: 1rem; */
    padding: 0 0.5rem;
    text-wrap: nowrap;
	font-weight: 600;
}
.TableRowRouteCell{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 0.7rem;
	transition: 1s;
}
.TableRowRouteCellAnchor {
    text-align: center;
    font-weight: 800;
}
.TableRowRouteCell a:hover {
    color: hotpink;
    transition: 1s;
}
.TableRowRouteString {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-wrap: pretty;
    max-width: 90%;
    padding: 0.25rem 0;
}
.boldUserNameReviewCaption{
	font-weight: bold;
	font-size: 0.8rem;
}
.touristReviewCaptionRow{
	font-size: 0.9rem;
}
.touristReviewTextRow{
	font-size: 0.6rem;
}

@media (900px < width < 1100px){
	#reviews-block-caption {
		font-size: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-weight: 800;
		margin: 0 0 10px 0;
	}
	#content-block-container {
		display: flex;
		flex-direction: row;
		margin-top: 10px;
		flex-wrap: wrap;
		max-height: min-content;
		justify-content: space-evenly;
	}
	#toursTable-block-container {
		display: flex;
		flex-direction: column;
		/* border: 2px solid blue; */
		flex: 1 1 600px;
	}
	#news-block-container {
		display: flex;
		flex-direction: column;
		/* border: 2px solid red; */
		flex: 0.5 1 300px;
		margin-right: 15px;
		max-width: 300px;
	}
	#touristsReviews-block-container {
		display: flex;
		flex-direction: row;
		flex: 0 1 50%;
		padding: 0;
		margin: 0;
		/* border: 2px solid green; */
		flex-wrap: wrap;
		/* width: 100vw; */
		min-width: 100%;
		margin-top: 15px;
		align-items: center;
	}
	.touristReview {
		display: flex;
		flex-direction: column;
		/* flex: 0 1 50vw; */
		/* padding: 0 0rem; */
		/* flex-wrap: wrap; */
		max-width: 46vw;
		margin: auto;
		/* border: 1px solid black; */
	}
	.boldUserNameReviewCaption {
		font-weight: bold;
		font-size: 1.2rem;
	}
	.touristReviewStarsDateRow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.touristReviewCaptionRow {
		font-size: 1.1rem;
	}
	.touristReviewTextRow {
		font-size: 0.9rem;
	}
	#touristsReviews-block-container .touristReview:nth-child(even) {
		padding: 0 15px 0 0;
	}
	#touristsReviews-block-container .touristReview:nth-child(odd) {
		padding-left: 0 0 0 15px;
	}
}