




@media (min-width: 800px)
{   
    .search-bar-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: rgba(74, 77, 255, 0.75);
        color: white;
        border-radius: 20px;
        min-height: 140px;
        max-height: 560px;
        max-width: 1000px;
        justify-content: center;
        margin: auto;
        margin-top: 15px;
    }
    .search-bar {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    input {
        width: 120px;
        height: 35px;
        margin: 5px;
    }

    .extended-search {
        display: flex;
        flex-direction: row;
    }

    .ext-src-column{
        width: 33%;
    }

    .extended-search-item {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    select {
        width: 120px;
        height: 35px;
        margin: 5px;
        
    }
    .search-bar-item {
        margin: 0px;
        text-align: left;
        flex-direction: column;
    }
}

@media (max-width: 800px) and (min-width: 500px)
{   
    .search-bar-wrapper {
        display: flex;
        flex-direction: row;
        background: rgba(74, 77, 255, 0.75);
        color: white;
        border-radius: 10px; 
        min-height: 450px;
        max-height: 1000px;
        width: 90%;
        justify-content: center;
        margin: auto;
        margin-top: 15px;
    }
    .search-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;       
        margin-top: 20px;
        margin-left: 30px;
    }

    .extended-search {
        display: flex;
        flex-wrap: wrap;
    }

    .extended-search-item {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        /* align-items: center; */
    }

    .search-bar-item {
        margin: 0px;
        margin-top: 5px;
        text-align: left;
        flex-direction: column;
        width: 310px
    }

    select {
        width: 300px;
        height: 35px;
        margin: 5px;
    }

    input {
        width: 120px;
        height: 35px;
        margin: 5px;
    }

    #ext-src-button{
        margin-left: 15px;
        margin-top: 5px
    }
}

@media (orientation: portrait) and (pointer: coarse)
{   
    .search-bar-wrapper {
        display: flex;
        flex-direction: row;
        background: rgba(74, 77, 255, 0.75);
        color: white;
        border-radius: 10px;
        min-height: 275px;
        max-height: 735px;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 15px;
    }
    .search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;  
        justify-content: center;     
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .extended-search {
        display: flex;
        flex-wrap: wrap;
    }

    .extended-search-item {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        /* align-items: center; */
    }

    .search-bar-item {
        margin: 0px;
        margin-top: 5px;
        text-align: left;
        flex-direction: column;
        width: 800px;
    }

    select {
        width: 750px;
        height: 55px;
        margin: 5px;
    }

    input {
        width: 750px;
        height: 55px;
        margin: 5px;
    }

    #ext-src-button{
        margin-left: 15px;
        margin-top: 5px
    }
}



.extended-search-input {
    display: flex;
    flex-direction: row;

}

#search-radio-buttons{
    flex-direction: column;
}

option {
    padding: 0;
  }
  
input[type="range"] {
    width: 200px;
    margin: 0;
}
datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    writing-mode: horizontal-tb;
    width: 200px;
  }
.extended-search-input-item {
    margin-left: 15px;

}

